.login-container {
  width: 440px;
  height: 463px;
  background: #FFFFFF;
  box-shadow: 0px 25px 19px -4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  top: 10vh;
  position: relative;

  svg {
    margin: 35px auto;
    width: 100%;
  }

  button {
    height: 44px;
    background: #DCE0DB;
  }
}

app-login {
  color:red
}
